<!-- <mat-toolbar>
  <span>Second Line</span>
  <span class="spacer"></span>
  <span>Help</span>
</mat-toolbar> -->

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <pokemon-set-item *ngFor="let set of sets | async; let last = last" [set]="set" [last]="last" (click)="selectSet(set)" [class.active]="set.code == selectedSet">
      </pokemon-set-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>


<!-- <mdl-layout mdl-layout-fixed-drawer md-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Pokemon TCG Collection Tracker</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <mdl-layout-title>Set: {{ selectedSet }}</mdl-layout-title>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-content>
    <ngx-datatable
      class='material'
      [columnMode]='"force"'
      [rowHeight]='"auto"'
      [rows]='cards'
      [columns]='columns'
      [rowClass]='getRowClass'
      [messages]='{ emptyMessage: "No set selected" }'>
    </ngx-datatable>
  </mdl-layout-content>
<mdl-layout>

<ng-template #collectionTmpl let-row='row' let-value='value'>
  <button *ngIf='!value' mdl-button mdl-button-type='mini-fab' (click)='collectCard(row)'>
    <mdl-icon>library_add</mdl-icon>
  </button>
  <div *ngIf='value'>{{ value | date : 'mediumDate' }}</div>
</ng-template> -->
