<!-- <mat-toolbar>
  <span>Second Line</span>
  <span class="spacer"></span>
  <span>Help</span>
</mat-toolbar> -->

<mat-sidenav-container fullscreen autosize>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <pokemon-set-item *ngFor="let set of sets | async; let last = last" [set]="set" [last]="last" (click)="selectSet(set)" [class.active]="set.code == selectedSet">
      </pokemon-set-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="example-loading-shade" *ngIf="!(cards$ | async)">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table [hidden]="!(cards$ | async)" #table [dataSource]="cards$">
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="rarity">
        <mat-header-cell *matHeaderCellDef>Rarity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.rarity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="supertype">
        <mat-header-cell *matHeaderCellDef>Supertype</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.supertype }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="collected">
        <mat-header-cell *matHeaderCellDef>Collected</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="!collection[element.id]">
            <button mat-mini-fab (click)="collect(element.id)">
              <mat-icon aria-label="Collect">library_add</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="collection[element.id]">
            {{ collection[element.id] | date }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mdl-layout mdl-layout-fixed-drawer md-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Pokemon TCG Collection Tracker</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <mdl-layout-title>Set: {{ selectedSet }}</mdl-layout-title>
    </mdl-layout-header-row>
  </mdl-layout-header>
<mdl-layout>
-->
