<div>
  <h3 class='mdl-dialog__title'>Settings</h3>
  <div class='mdl-dialog__content'>
    <form #settingsForm="ngForm">
      <mdl-checkbox [mdl-ripple]="true" name="auto_update" [(ngModel)]="settings.auto_update">
        Auto Update
      </mdl-checkbox>
    </form>
  </div>
  <div class='mdl-dialog__actions'>
    <button mdl-button (click)='save()' mdl-button-type='raised' mdl-colored='primary' mdl-ripple>Save</button>
    <mdl-layout-spacer></mdl-layout-spacer>
    <button mdl-button (click)='cancel()' mdl-button-type='raised' mdl-ripple>Cancel</button>
  </div>
</div>
