<mdl-layout mdl-layout-fixed-drawer md-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Pokemon TCG Collection Tracker</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <mdl-layout-title>Set: {{ selectedSet }}</mdl-layout-title>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Sets</mdl-layout-title>
   	<mdl-list class="set-list">
		<pokemon-menu-item *ngFor="let set of (sets | async)"
      [set]="set"
      (selectSet)="selectSet($event)"
      ></pokemon-menu-item>
    </mdl-list>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <mdl-table [table-model]="tableModel">
    </mdl-table>
  </mdl-layout-content>
<mdl-layout>
